---
http_interactions:
- request:
    method: post
    uri: https://accept.paymobsolutions.com/api/auth/tokens
    body:
      encoding: UTF-8
      string: '{"api_key":"<API_KEY>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Allow:
      - POST, OPTIONS
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"profile":{"id":811626,"user":{"id":1410262,"username":"01202420064","first_name":"Joe","last_name":"Kaldas","date_joined":"2023-06-04T03:20:36.616328","email":"","is_active":true,"is_staff":false,"is_superuser":false,"last_login":null,"groups":[],"user_permissions":[160,116,119,115,213,137,204,118,131,122,128,127,203,123,140,139,455,454,130,266,124,259,121,133,206,125,129,136,185,146,126,604,258,135,138,205,117,120,186,132,134,277]},"created_at":"2023-06-04T03:20:36.633745","active":true,"profile_type":"Merchant","phones":["+201202420064"],"company_emails":null,"company_name":"Freelance","state":"","country":"EGY","city":"Cairo","postal_code":"","street":"","email_notification":false,"order_retrieval_endpoint":null,"delivery_update_endpoint":null,"logo_url":null,"is_mobadra":false,"sector":"Software
        houses","is_2fa_enabled":false,"activation_method":1,"signed_up_through":0,"failed_attempts":0,"custom_export_columns":[],"server_IP":[],"username":null,"primary_phone_number":"+201202420064","primary_phone_verified":true,"is_temp_password":false,"otp_2fa_sent_at":null,"otp_2fa_attempt":null,"otp_sent_at":"2023-06-04T03:20:37.975699","otp_sent_to":"01202420064","otp_validated_at":"2023-06-04T03:20:47.859564","awb_banner":null,"email_banner":null,"identification_number":null,"delivery_status_callback":"","merchant_external_link":null,"merchant_status":0,"deactivated_by_bank":false,"bank_deactivation_reason":null,"bank_merchant_status":0,"national_id":null,"super_agent":null,"wallet_limit_profile":null,"address":null,"commercial_registration":null,"commercial_registration_area":null,"distributor_code":null,"distributor_branch_code":null,"allow_terminal_order_id":false,"allow_encryption_bypass":false,"wallet_phone_number":null,"suspicious":0,"latitude":null,"longitude":null,"bank_staffs":{},"bank_rejection_reason":null,"bank_received_documents":false,"bank_merchant_digital_status":0,"bank_digital_rejection_reason":null,"filled_business_data":true,"day_start_time":"00:00:00","day_end_time":null,"withhold_transfers":false,"sms_sender_name":"PayMob","withhold_transfers_reason":null,"withhold_transfers_notes":null,"can_bill_deposit_with_card":false,"can_topup_merchants":false,"topup_transfer_id":null,"referral_eligible":false,"is_eligible_to_be_ranger":false,"is_ranger":false,"is_poaching":false,"paymob_app_merchant":false,"settlement_frequency":null,"day_of_the_week":null,"day_of_the_month":null,"allow_transaction_notifications":false,"allow_transfer_notifications":false,"sallefny_amount_whole":0.0,"sallefny_fees_whole":0.0,"paymob_app_first_login":null,"paymob_app_last_activity":null,"payout_enabled":false,"payout_terms":false,"is_bills_new":false,"can_process_multiple_refunds":false,"settlement_classification":0,"instant_settlement_enabled":false,"instant_settlement_transaction_otp_verified":false,"preferred_language":"ar","acq_partner":null,"dom":null,"bank_related":null,"permissions":[]},"token":"ZXlKaGJHY2lPaUpJVXpVeE1pSXNJblI1Y0NJNklrcFhWQ0o5LmV5SmpiR0Z6Y3lJNklrMWxjbU5vWVc1MElpd2ljSEp2Wm1sc1pWOXdheUk2T0RFeE5qSTJMQ0p3YUdGemFDSTZJbUpqT1dObVlUTTVNRE5rWVRJNU5tVmxORGRoTURObVptUmlZMll5WkdOa09HWTRNVEkxTm1SbU1UTTVOakF4TVRBMVl6WTRZV1UyTkRNeE0yTXpZV1FpTENKbGVIQWlPakUyT1RRNU9Ea3pNVEo5LklZQXAwRWxoTnNzMm95dnpZVmYtaUxEdWNoeGl3X1dnSVhlNFlVS1pwc25IU1pQMHVqX2xuczZHdThUOFhUN3JOaWp2NTEwY0luNEFIZDA1c3hTb2dn"}'
  recorded_at: Sun, 17 Sep 2023 21:21:52 GMT
recorded_with: VCR 6.2.0
