/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

/paymob-*.gem
/Gemfile.lock
.rvmrc
Gemfile.lock
tags
.idea/

.env
.env.local
.env.development.local
.env.test.local